{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="page-header">
    <h1>Delete Event?</h1>
    {% comment %} <img src="" alt=""> {% endcomment %}
  </div>
  <h2>Are you sure you want to delete {{ event.title }}?</h2>

  <form action="" method="POST" class="form">
    {% csrf_token %}
    <a href="{{request.META.HTTP_REFERER}}" class="btn secondary">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
{% endblock content %}

{% comment %} Tried to find a way for "Cancel" button to go back to the original page. {% url 'npos_detail' npo.id%} Didn't work because it didn't know which npo details page to go to.
found {{request.META.HTTP_REFERER}} on https://www.codegrepper.com/code-examples/python/frameworks/django/back+button+django+template
And it was able to work. {% endcomment %}