.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  height: 350px;
  margin: 10px;
  box-shadow: var(--card-box-shadow);
  background-color: var(--container-bg);
  border-radius: var(--card-border-radius);
  padding: 30px;
}

.card-content {
  padding: 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

h2 {
  margin-left: 20px;
}

.tato-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}