.npo-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 75%;
  max-width: 350px;
}


.npo-details {
  width: 98%;
}

.events-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.npo-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.npo-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.npo-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.npo-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.events-container > section {
  width: 40%;
  min-width: 360px;
  /* border: var(--borders); */
  border-radius: var(--card-border-radius);
  padding: 30px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--container-bg);
}

input {
  background-color: #EDE0D4;
  
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.events h2{
  font-size: 3.2rem;
  margin: 0;
}

.events h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.events td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.events th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: #ADC178 solid 2px;
}

.events tr:nth-child(even) {
  background-color: #DDE5B6;
}


#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .npo-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .cat-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .npo-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .npo-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .feedings-toy-container {
    padding: 0 40px;
  }
}