{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
{% endblock head %}

{% block content %}
<h1>Welcome to POTATO!<h1>
<p>Ever struggle to find which non-profit organizations to support? OR do you need a place to share where you want to get your non-profit organization known? Well this is the place for you! This is a place where non-profit organizations can be added with their events.</p>
<h2>Why Potato?</h2>
<p>There was a time when potatoes saved the world. Hence the name: POTATO! Let's all be the potatoes (not couch potatoes) of the world and try to make it a better place. </p>

{% endblock content %}