{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock head %}

{% block content %}
<h1>POTATO</h1>
<h3>What is POTATO<h3>
<p>Explain what NPOs are... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, deleniti fuga expedita soluta officiis harum natus officia nam aut odit ab, eaque facere architecto, recusandae assumenda! Suscipit distinctio debitis libero.</p>
<h3>Why POTATO?</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, deleniti fuga expedita soluta officiis harum natus officia nam aut odit ab, eaque facere architecto, recusandae assumenda! Suscipit distinctio debitis libero.</p>

{% endblock content %}