{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/npos/npo-detail.css' %}">
  <script defer src="{% static 'js/npo-detail.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="npo-container">
  <div class="npo-img">
    <img src="{% static 'images/shy.svg'%}" alt="shy potato">
  </div>
  <div class="npo-details">
    <h1>{{ npo.name }}</h1>
    <h2>{{ npo.get_topic_display }}</h2>
    <h3><a href="{{npo.website}}" target="_blank">{{ npo.website }}</a></h3>
    <p>{{ npo.description }}</p>
    {% if npo.user == request.user %}
      <div class="npo-actions">
        <a href="{% url 'npos_update' npo.id %}" class="btn warning">Edit</a>
        <a href="{% url 'npos_delete' npo.id %}" class="btn danger">Delete</a>
      </div>
    {% endif %}
  </div>
</section>
<div class="events-container">
  <section class="events">
    <div class="subsection-title">
    </div>
    <h1>Add an Event</h1>
    <form action="{% url 'add_event' npo.id %}" method="POST" class="subsection-content">
      {% csrf_token %}
      {{ event_form.as_p }}
      <button type="submit" class="btn submit add">Add</button>
    </form>
    {% if npo.event_set.all %}
      <table>
        <thead>
          <tr><th>Date</th><th>Events</th><th>Delete</th></tr>
        </thead>
        <tbody>
          {% for event in npo.event_set.all %}
            <tr>
              <td>{{event.date}}</td>
              <td>{{event.title}}</td>
              {% if event.user == request.user %}
                <td><a href="{% url 'delete_event' npo.id event.id %}" class="btn x">X</a></td> 
              {% else %} 
                <td>N/A</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>No events have been added to {{ npo.name }}</p>
      </div>
    {% endif %}
  </section>
</div>

{% endblock content %}