{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/npos/npo-index.css' %}">
{% endblock head %}

{% block content %}
<section class="page-header">
  <h1>All Non-Profits</h1>
</section>
  {% if npos %}
    <section class='card-container'>
      {% for npo in npos %}
        <div class='card'>
          <a href="{% url 'npos_detail' npo.id %}">
            <div class="card-content">
              <div class="card-img-container">
                <img src="{% static 'images/sunglass.svg'%}" alt="potato in sunglasses">
              </div>
              <h2 class="card-title">{{ npo.name }}</h2>
              <p>{{ npo.get_topic_display }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </section>
  {% else %}
    <div class="subsection-content">
      <p>No non-profits have been added.</p>
    </div>
  {% endif %}
{% endblock content %}

